/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .header-left {
    font-size: 5px;
  }

  .header-right li {
    font-size: 5px;
  }

  .skill-container {
    flex-direction: column;
  }

  .skill-item {
    padding: 20px;
    background-color: transparent;
    width: auto;
    border: none;
    text-align: center;
  }

  .skill-item img {
    width: 30%;
  }

  .skill-item h2 {
    padding-bottom: 16px;
    text-align: center;
    font-size: 6vw;
    font-weight: normal;
  }

  .skill-item p {
    padding: 0;
    font-size: 3vw;
    text-align: left;
    line-height: normal;
  }

  .work-container {
    padding: 150px 0 150px 0;
  }

  .caption {
    display: none;
  }

  .workslist-top h1 {
    font-size: 25px;
  }
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {

  .top-wrapper h1 {
    font-size: 6vw;
  }

  header {
    display: none;
  }

  .skill-container {
    padding: 0;
  }

  .work-container {
    padding: 0;
    width: 100%;
  }

  .workslist-top {
    padding-top: 40px;
  }

  .flowing {
    animation: none;
  }

  .fadein {
    opacity: 1;
    animation: none;
  }

  .fadein-2 {
    opacity: 1;
    animation: none;
  }

  .workslist-container {
    width: 90vw;
  }

  .workslist-caption h3 {
    font-size: 3vw;
    font-weight: bold;
  }
}

/* 以下 */
@media all and (max-width: 480px) {
  .work-container {
    justify-content: center;
  }
}
